.wrapper{
    /*background-color: black;*/
    width: 800px;
    height: 800px;
    background-image: url("black.jpg");
    background-size: 900px 900px;
    background-repeat: no-repeat;
}
.main-content{
    background-color: gray;
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 100px 300px 0px 365px;
    

}
#secret{
    display: none;
    margin: 20px auto;
}
#mikey1, #mikey2, #raphael1, #raphael2, #donny1, #donny2{
    display: none;
}
button {
    margin: 3px;

}
h1{
    color: orange;
}
